html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  list-style: none;
  position: relative;
  z-index: 0;
  padding-inline: clamp(1rem, 3vw, 3rem);
}

.navbar__main {
  width: 100%;
  position: absolute;
  left: 0;
  top: 4rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.navbar__main.active .navbar__list {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 768px) {
  .navbar__main {
    all: unset;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    position: relative;
  }
}

.navbar__main .navbar__list--link {
  height: 6rem;
}

.navbar__brand {
  width: 7rem;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.navbar__brand::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -6rem;
  background-color: #fff;
  width: 12rem;
  height: 3.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: -1;
}

.navbar__list {
  position: relative;
  background-color: #17181c;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.navbar__list:nth-of-type(1) {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.navbar__list:nth-of-type(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.navbar__list:nth-of-type(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.navbar__list:nth-of-type(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media (min-width: 768px) {
  .navbar__list {
    background-color: transparent;
    cursor: pointer;
  }
}

.navbar__list--link {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #FFF;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  width: 100%;
  height: 4rem;
  margin: auto;
}

@media (min-width: 768px) {
  .navbar__list--link {
    all: unset;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
}

.navbar__list--link:hover {
  color: #fa4753;
}

@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
}

.navbar .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #FFFFFF;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.navbar .ham .top {
  stroke-dasharray: 40 160;
}

.navbar .ham .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.navbar .ham .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

.navbar .ham.active .top {
  stroke-dashoffset: -64px;
}

.navbar .ham.active .middle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .ham.active .bottom {
  stroke-dashoffset: -64px;
}

.preview__card {
  width: 10rem;
  height: 13rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 0px 50px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 50px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.preview__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: inherit;
  height: inherit;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.preview__card__content {
  color: #fff;
  padding: 1rem;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(8.5rem);
          transform: translateY(8.5rem);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.preview__card__content--title {
  text-transform: uppercase;
}

.preview__card__content--subtitle {
  width: inherit;
}

.preview__card:hover .preview__card__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.preview__card:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.section-header {
  text-align: center;
  margin-block: 4rem;
}

.section-header h1 {
  font-size: 2rem;
}

.section-header--icon {
  font-size: 2rem;
  display: inline-block;
}

.section-header--icon:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-header--icon:nth-of-type(2) {
  margin: auto 1rem;
  color: #fa4753;
}

.section-header--icon:last-of-type {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  width: 100%;
  height: 100vh;
  background: url(/src/images/mobile-header-bg.png) center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header {
    background: url(/src/images/desktop-header-bg.jpg) center no-repeat;
    background-size: cover;
  }
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-block: auto;
  padding-inline: clamp(1rem, 4vw, 3rem);
}

@media (min-width: 960px) {
  .header__intro {
    text-align: left;
    max-width: 60%;
  }
}

.header__intro--title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
}

.header__intro--subtitle {
  margin-block: 1rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
}

.header__intro .cta {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin: 1.5rem auto;
  width: 12.5rem;
  border-radius: 8px;
  background-color: #fa4753;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (min-width: 960px) {
  .header__intro .cta {
    margin: 1.5rem 0;
  }
}

.header__intro .cta:hover {
  -webkit-box-shadow: 0px 0px 30px 9px rgba(250, 71, 83, 0.5);
          box-shadow: 0px 0px 30px 9px rgba(250, 71, 83, 0.5);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__intro .cta__icon {
  margin-left: 1rem;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 15rem;
  background-color: #fa4753;
}

@media (min-width: 768px) {
  .header__info {
    width: 70%;
    height: 10rem;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header__info--title {
    margin-block: 1.5rem;
  }
}

.header__info p {
  margin-block: 0.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
}

.header__info .social__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header__info .social__navbar__list--link {
  color: #fff;
  font-size: 2rem;
}

.about {
  padding: 1rem;
}

.about .preview {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.about__main {
  margin-block: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .about__main {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.about__main__content {
  width: 70%;
  margin: 1rem auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (min-width: 768px) {
  .about__main__content {
    margin: auto;
  }
}

.about__main__content--title {
  font-size: 1.5rem;
}

.about__main__content--subtitle {
  font-size: 1.2rem;
}

.about__main img {
  width: 10rem;
  display: inline-block;
  border-radius: 0.5rem;
  margin-inline: 1rem;
}

@media (min-width: 768px) {
  .about__main img:first-of-type {
    width: 20rem;
    margin-left: auto;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
  .about__main img:last-of-type {
    -webkit-transform: scaleX(2) scaleY(1.2);
            transform: scaleX(2) scaleY(1.2);
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    margin: 3rem 0 0 5rem;
  }
}

.about__main img:last-of-type {
  width: 15rem;
}
/*# sourceMappingURL=main.css.map */