.testimonial{
    // background-color: $clr-gray;
    padding-inline: 1rem;
    padding-block: 3rem;

    &__reviews{
        display :flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: auto;
    }
}