.section-header{
    text-align: center;
    margin-block: 4rem;
    
    h1{
        font-size: 2rem;
    }

    &--icon{
        font-size: 2rem;
        
        display: inline-block;
        &:first-of-type{
            transform: rotate(-45deg);
        }
        &:nth-of-type(2){
            margin: auto 1rem;
            color: $accent;
        }
        &:last-of-type{
            transform: rotate(135deg);
        }

    }
}